@charset "utf-8";

.concept{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px; 
}

.previous{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px;
}

.our{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px;
}

.designing{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 80px;
    padding-right: 40px;
    max-width: 1000px;
}