@charset "utf-8";

.concept{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px; 
}

.previous{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px;
}

.our{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px;
}

.designing{
    word-break: break-all;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 60px;
    padding-right: 40px;
    max-width: 1000px;
}

.sequence{
    margin-top: 20;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    max-width: 1000px;
}
.sequence h3{
    margin-top: 20px;
    margin-bottom: 0;
}
.sequence p{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 30px;
}
img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 10000px;
}