@charset "utf-8";

h2{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 40px;
}

.to_ex1{
    text-align: center;
    width:100%;
}

.to_ex2{
    text-align: center;
    width:100%;
}

.to_ex3{
    text-align: center;
    width:100%;
}

.simulation{
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
    max-width: 1000px;
}

.simulation img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img{
    width: 50%;
}