@charset "utf-8";
h1{
    padding-left: 20px;
}
a{
    display: inline;
}

h2{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 40px;
}

.to_ex1{
    text-align: center;
    width:100%;
}

.to_ex2{
    text-align: center;
    width:100%;
}

.to_ex3{
    text-align: center;
    width:100%;
}