@charset "utf-8";

.background{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px;
}

.object{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px;
}

.plan{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px;
}

.list{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px; 
}

.flowchart{
    max-width: 100%;
}

.plan li{
    margin-bottom:30px ;
    font-size: 20px;
}

.list_component{
    margin-left: 60px;
}
.list_component h3{
    margin-top: 0;
    margin-bottom: 0;
}
.list_component p{
    margin-top: 0;
    margin-bottom: 0;
}