@charset "utf-8";
h1{
    padding-left: 20px;
}
p{
    font-size: 23px;
    word-wrap: break-word;
}
.figure{
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 30px;
}

/*全体*/
body{
    background-color: lightgray;
    margin: 0%;
    padding: 0%;
}
.container{
    min-height: 100vh;
    position: relative;
    margin-top: 70px;
    padding-bottom: 70px;
}

/*上メニューバー関連*/
.menue{
    background-color: black;
    width:100%;
    height: 50px;
    top:0;
    left: 0;
    position: fixed;
}
.menue nav .page_tag{
    display:flex;
    flex-direction: row-reverse;
    list-style:none;
    top:auto;
    bottom:auto;
}
.menue nav .page_tag li a{
    display:inline-block;
    text-decoration:none;
    color:gray;
    margin-right: 35px;
}
.menue nav .page_tag li a:hover{
    color:white;
}

/*サブメニュー関連*/
.menue nav .page_tag .experiment{
    position: relative;
}
.menue nav .page_tag .experiment ul{
    display: none;
    position:absolute;
    width:100%;
    background-color: black;
}
.menue nav .page_tag .experiment:hover ul{
    display:block;
}

/*上ロゴ関連*/
.teamlogo{
    position:fixed;
    top:5px;
    margin-left: 20px;
}
.teamlogo a{   
    text-decoration:none;
    font-size:30px;
    color: white;
    margin-top: 10px;
    bottom: auto;
    top: auto;
}

/*フッター関連*/
.footer{
    background-color: black;
    width: 100%;
    height: 55px;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.footer p{ 
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    color: white;
}
.footer a{
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    text-decoration:none;
    color: grey;
}
.footer a:hover{
    color: white;
}
.reference{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1000px;
}
.reference li{
    margin-bottom:30px ;
    font-size: 23px;
}